extends layout

block content
    div.detail-content
        h1.title Console: #{console.name}
        p.info Manufacturer: #{console.manufacturer}
        p.info Release year: #{console.release_year}
        h2.title #[strong Games for this console:] 
        
        div.list-container
            ul
                if (game_list.length) 
                    each game in game_list 
                        li
                            a(href=game.url) #{game.title}
                else 
                        li
                            p There is no games in this genre.
        
        hr
        div.btn-container
            btn.btn-primary
                a(href=console.url+'/delete') Delete Console
            btn.btn-primary
                a(href=console.url+'/update') Update Console
    