extends layout 

block content
    div.container
        div.delete-content
            h1.title  #{title}: #{console.name}
            if game_list.length 
                p.info-text #[strong Delete the following associated games to delete this console.]
                each game in game_list 
                        ul
                            li
                                a.info-link(href=game.url) #{game.title}
            else 
                p.info Do you really want to delete this Console?
            
                form.delete-form(method='POST' action='')
                    div.form-group
                        input#consoleid.form-control(type='hidden', name='consoleid', required='true', value=console._id)
                        button.btn.btn-primary(type='submit') Delete