extends layout

block content
    div.container
        div.game-detail-content
            h1.title Title: #{game.title}
            div.info-container
                p #[strong Studio:] 
                    a(href=game.studio.url) #{game.studio.name}
                p #[strong Year of release:] #{game.release_year}
                p #[strong Genres:]
                if game.genre.length
                    div.list-container
                        ul
                            each genre, index in game.genre
                                li
                                    a(href=genre.url) #{genre.name}#{(index < game.genre.length - 1) ? ', ' : ''}
                else 
                    p This game don't have associated genres.
                p #[strong Available for:]
                if game.console.length
                    div.list-container
                        ul
                            each console, index in game.console
                                li
                                    a #{console.name}#{(index < game.console.length - 1) ? ', ' : ''}
                else 
                    p This game don't have associated platforms
            div.image-container
                if game.img.data !== undefined
                    img.gameCard-image(src=`data:image/${game.img.contentType};base64,${game.img.data.toString('base64')}`)
                else
                    div.gameCard-image 
                        p.subtext No image uploaded
            hr
            div.btn-container
                a.btn-link(href=game.url+'/delete') 
                    btn.btn-primary Delete Game
                a.btn-link(href=game.url+'/update') 
                    btn.btn-primary Update Game
        