extends layout 

block content
    div.container
        div.delete-content
            h1.title Game: #{game_instance.game.title}
            h2.title ID: #{game_instance._id} 
            p.info Status: #{game_instance.status}
            p.info Due Back: #{game_instance.due_back ? game_instance.due_back : 'No due back'}
            p.info Do you really want to delete this Game Instance?
        
            form.delete-form(method='POST' action='')
                div.form-group
                    input#game_instanceid.form-control(type='hidden', name='game_instanceid', required='true', value=game_instance._id)
                    button.btn.btn-primary(type='submit') Delete