extends layout 

block content
    div.container
        div.delete-content
            h1.title  #{title}: #{genre.name}
            if game_list.length 
                p.info-text #[strong Delete the following associated games to delete this genre.]
                each game in game_list 
                    dl
                    dt
                        p Game: 
                            a.info-link(href=game.url) #{game.title}
            else 
                p.info Do you really want to delete this Genre?
            
                form.delete-form(method='POST' action='')
                    div.form-group
                        input#genreid.form-control(type='hidden', name='genreid', required='true', value=genre._id)
                        button.btn.btn-primary(type='submit') Delete