extends layout

block content
    div.detail-content
        h1.title Genre: #{genre.name}
        h2.title #[strong Games in this genre:] 
        div.list-container
            ul
                if (gamesByGenre.length) 
                    each game in gamesByGenre 
                        li
                            a(href=game.url) #{game.title}
                else 
                    li There is no games in this genre.
        

        hr
        div.btn-container
            btn.btn-primary
                a(href=genre.url+'/delete') Delete Genre
            btn.btn-primary
                a(href=genre.url+'/update') Update Genre