extends layout

block content
  h1 Last added games
  div.carrousel-container
    for game in games 
      div.gameCard
        div.gameCard-image 
        div.gameCard-text
          p #{game.title}

  h2 stats
  p Current Games: #{gameNumber}
  p Current Game Instances: #{gameInstanceNumber}
  p Current Genres created: #{genreNumber}
  p Current Studios created: #{studioNumber}
  p Current Consoles created: #{consoleNumber}
    
