extends layout

block content
  h1.title Last added games
  div.content
    div.carrousel-container
      for game, index in games.reverse()
        if index < 3 
          div.gameCard      
            a.link(href=game.url)  
              div.gameCard-image-container 
                if game.img.data !== undefined
                  img.gameCard-image(src=`data:image/${game.img.contentType};base64,${game.img.data.toString('base64')}`)
                else 
                  p.text-image #{game.title}
              div.gameCard-text
                p #{game.title}
  
    span.title-container
      h2.title Current Data in Store
    ul
      li Current Games: 
        a(href='/catalog/games/') #{gameNumber} 
      li Current Game Instances: 
        a(href='/catalog/gameinstances/') #{gameInstanceNumber}
      li Current Genres created: 
        a(href='/catalog/genres/') #{genreNumber}
      li Current Studios created: 
        a(href='/catalog/studios/') #{studioNumber}
      li Current Consoles created: 
        a(href='/catalog/consoles/') #{consoleNumber}
    
