extends layout

block content
  div.container
    div.detail-content
      h1.title #[strong Studio:] #{studio.name}
      p.info #[strong Created in:] #{studio.creation_year}
      p.info #[strong Founders:] #{studio.founders} 
      p.info #[strong Nationality:] #{studio.nationality}
      div

        h2.title Games by #{studio.name}

        if studio_games.length
          div.list-container
            ul
              each game in studio_games
                li
                  a(href=game.url) #{game.title}
            
        else
          p No games registered on this studio.

      hr
      div.btn-container
        a.btn-link(href=studio.url+'/delete')  
          btn.btn-primary Delete Studio
        a.btn-link(href=studio.url+'/update') 
          btn.btn-primary Update Studio